ol {
  margin-left: -40px;
  margin-top: -20px;
  list-style-position: inside;
}

/* Write your CSS below, don't change the rules above. */
/*Class can be on mutliple elements*/
h2 {
  color: green;
}
.red-text {
  color: red;
}

/*IDs are unique*/
#id-selector-demo {
  color: green;
}
p{
  color: red;
}

*[class="note"]{
  font-size: 30px;
}

li[value="4"]{
  color: blue;
}

*{
  text-align: center;
}